<div>
  <input type="checkbox" class="dm-toggle" id="dm-toggle">
  <label for="dm-toggle" class="dm-toggle-label">
    <span id="sun-icon">{{> "icons/sun"}}</span>
    <span id="moon-icon">{{> "icons/moon"}}</span>
  </label>
  <script>
    (() => {
      const t = document.getElementById("dm-toggle");
      t.checked = document.documentElement.classList.contains('dark');
      t.addEventListener("change", () => { document.documentElement.classList.toggle('dark'); document.cookie = `darkmode-preferred=${t.checked};path=/;max-age=7200;`; });
    })();
  </script>
</div>
