<div>
    <input type="checkbox" class="dm-toggle" id="dm-toggle">
    <label for="dm-toggle" class="dm-toggle-label">
        <span id="sun-icon">{{> "icons/sun"}}</span>
        <span id="moon-icon">{{> "icons/moon"}}</span>
    </label>
    <script>
        const toggle = document.getElementById("dm-toggle");
        checkToggle(); // hoisting 활용

        toggle.addEventListener("change", () => {
            document.body.classList.toggle("dark");
            document.cookie = `darkmode-preferred=${toggle.checked};path=/;max-age=7200;`;
        });

        function checkToggle() {
            let ca = document.cookie.split(';');
            let preference = "none";

            for (let i = 0; i < ca.length; i++) {
                let c = ca[i].trim();
                if (c.indexOf("darkmode-preferred=") === 0) {
                    preference = c.substring("darkmode-preferred=".length, c.length);
                    break;
                }
            }

            if (preference === "true") {
                toggle.checked = true;
            } else if (preference === "false") {
                toggle.checked = false;
            } else if (window.matchMedia("(prefers-color-scheme:dark)").matches) {
                toggle.checked = true;
            } else {
                toggle.checked = false;
            }
        }
    </script>
</div>
