<div>
  <input type="checkbox" class="dm-toggle" id="dm-toggle">
  <label for="dm-toggle" class="dm-toggle-label">
    <span id="sun-icon">{{> "icons/sun"}}</span>
    <span id="moon-icon">{{> "icons/moon"}}</span>
  </label>
  <script>
  const toggle = document.getElementById("dm-toggle");

  toggle.addEventListener("change", () => {
    document.body.classList.toggle("dark");
    document.cookie = `path=/;max-age=1800;darkmode-preferred=${toggle.checked};`;
  });

  function getCookie(name) {
      let ca = document.cookie.split(';');
      for (let i = 0; i < ca.length; i++) {
          let c = ca[i].trim();
          if (c.indexOf(name) == 0) {
              return c.substring(name.length + 1, c.length);
          }
      }
      return "none";
  }

  function checkCookie() {
      let preference = getCookie("darkmode-preferred");
      if (preference === "true") {
          toggle.checked = true;
          document.body.classList.add("dark");
      } else if (preference === "false") {
          toggle.checked = false;
          document.body.classList.remove("dark");
      } else if (window.matchMedia("(prefers-color-scheme:dark)").matches) {
          toggle.checked = true;
          document.body.classList.add("dark");
      }
  }

  checkCookie();
  </script>
</div>
