{{!< default}}
{{#post}}
<main id="site-main" class="site-main outer" role="main">
  <div class="inner">
    <header class="post-full-header">
      <h1 class="post-full-title">Tags</h1>
    </header>

    <div class="tags-container">
      {{#get "tags" limit="all" include="count.posts" order="count.posts desc"}}
        {{#foreach tags}}
          <a href="{{url}}" class="tag-link">
            <span>{{name}}</span>
            <span class="tag-count">{{count.posts}} posts</span>
          </a>
        {{/foreach}}
      {{/get}}
    </div>
  </div>
</main>
{{/post}}
