{{!< default}}
  <script src="https://cdn.jsdelivr.net/npm/prismjs/prism.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs/plugins/autoloader/prism-autoloader.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      function u() {
        e = document.querySelectorAll('link[href*="prism-"]');
        e.forEach(t => t.remove());

        l = document.createElement('link');
        l.rel = 'stylesheet';
        l.href = document.documentElement.classList.contains('dark')
          ? 'https://cdn.jsdelivr.net/npm/prismjs/themes/prism-okaidia.min.css'
          : 'https://cdn.jsdelivr.net/npm/prismjs/themes/prism.min.css';
        document.head.appendChild(l);

        s = document.createElement('style');
        s.textContent = `.token.operator {background: none !important;}`;
        document.head.appendChild(s);

        if (window.Prism) {
          Prism.highlightAll();
        }
      }

      u();
      o = new MutationObserver((M) => { M.forEach((m) => { if (m.attributeName === 'class') u(); }); });
      o.observe(document.documentElement, { attributes: true });
    });
  </script>

  <main class="site-main">

    {{#post}}
    {{> "content" width="wide"}}
    {{/post}}

    {{#if @custom.show_related_posts}}
    {{> "related-posts"}}
    {{/if}}

  </main>
